html, body, #app {
  margin: 0;
  height: 100%;
  width: 100%;
}

body {
  font-family: Helvetica Neue,sans-serif;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px;
}

.dark {
  color: #DADADA;
  background: #1c2022;
  min-height: 100%;
}

.dark a {
  color: rgb(203, 203, 203);
}

.link {
  color: rgb(187, 46, 31);
  text-decoration: none;
  font-weight: bold;
}

.btn-clear {
  border: none;
  background: transparent;
}

.space-between {
  justify-content: space-between;
}

.nav-link {
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: inherit;
  font-family: 'Wallpoet', cursive;
}

.row {
  flex-direction: row;
  text-align: center;
}

.btn-clear {
  border: none;
  background: transparent;
  outline: none;
}

.nav li {
  margin-right: 10px;
}

.logo {
  font-size: 40px;
  font-family: 'Wallpoet', cursive;
}

.meta-info-light {
  margin-top: 5px;
  color: gray;
}

.meta-info-light a {
  color: black;
}

.meta-info-light span {
  margin: 10px 0;
  margin-right: 6px;
}

.meta-info-dark {
  margin-top: 5px;
  color: gray;
}

.meta-info-dark a {
  color: #bebebe;
}